{% extends 'base.html' %}
{% block extra_css %}
    <link href="{{ STATIC_URL }}css/jquery.datetimepicker.css" rel="stylesheet">
{% endblock %}
{% block page_title %}Swap Pool{% endblock %}
{% block content %}
    <div class="col-lg-6">
        <h2>Available Swaps</h2>

        <div class="list-group">
            {% for s in other_swaps %}
                <div class="list-group-item">
                    <div class="row-action-primary">
                        <i>{{ s.event_text }}</i>
                    </div>
                    <div class="row-content">
                        <div class="action-secondary"><i class="mdi-material-info"></i></div>
                        <h4 class="list-group-item-heading">{{ s.belongs_to.get_full_name }}</h4>

                        <p class="list-group-item-text">{{ s.start_date|date:'Y-m-d H:i' }}
                            - {{ s.end_date|date:'Y-m-d H:i' }}</p>
                        <button class="btn btn-default swap-shift" data-id="{{ s.id }}"
                                data-text="{{ s.event_text }} for {{ s.belongs_to.get_full_name }}: {{ s.start_date|date:'Y-m-d H:i' }}
                            - {{ s.end_date|date:'Y-m-d H:i' }}">See Swap Options
                        </button>
                    </div>
                </div>
                {% if not forloop.last %}
                    <div class="list-group-separator"></div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="modal fade" id="swap-event-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Swap Shift</h4>
                </div>
                <div class="modal-body">
                    <p class="text-center" id="shift_switch_with"></p>

                    <form class="form-horizontal" id="event-form" action="" onsubmit="return false;">
                        <fieldset>
                            <input type="hidden" value="" name="id" id="hidden_id">

                            <div class="form-group">
                                <label for="swap-shift" class="col-lg-2 control-label">Your Shift To Swap:</label>

                                <div class="col-lg-10">
                                    <select class="form-control" id="swap-shift" name="swap" required>
                                        {% for e in my_shifts %}
                                            <option value="{{ e.id }}">{{ e.event_text }}: {{ e.start_date|date:'Y-m-d H:i' }}
                                                - {{ e.end_date|date:'Y-m-d H:i' }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary" id="event-swap">Swap Shift</button>
                            </div>
                        </fieldset>
                    </form>
                </div>

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id="swap-confirm">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Swap Sent</h4>
                </div>
                <div class="modal-body">
                    <p>Your Swap suggestion was successfully sent!</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block extra_js %}
    <script>
        var to_swap;
        $(function () {
            $('.swap-shift').click(function () {
                $('#shift_switch_with').text($(this).data('text'));
                $('#hidden_id').val($(this).data('id'));
                $('#swap-event-modal').modal('show');
                to_swap = $(this);
            });

            $('#event-swap').click(function () {
                $.post('{% url 'dashboard:pick_swap' %}', {'id': $('#hidden_id').val(), 'to_id': $('#swap-shift').val()}, function () {
                    to_swap.hide();
                    $('#swap-event-modal').modal('hide');
                    $('#swap-confirm').modal('show');
                });
            });
        });
    </script>
{% endblock %}