{% extends 'base.html' %}
{% block extra_css %}
    <link href="{{ STATIC_URL }}css/jquery.datetimepicker.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/introjs.min.css" rel="stylesheet">
{% endblock %}
{% block outside_container %}
    {% if user.userprofile.is_admin %}
        <div class="col-lg-12">
            <form action="{% url 'dashboard:import_events' %}" method="post" enctype="multipart/form-data"
                  style="display: none">
                <input type="file" name="file" id="file">
            </form>
            <button id="export-from" class="btn btn-primary" style="float:right;">Import From File</button>
        </div>
    {% else %}
        <div class="col-lg-12">
            <div style="float: left">
                <h2>Legend</h2>
                {% if events != None %}
                    <p><i class="mdi-notification-sync"></i>&nbsp;&nbsp; Pick Up Swap &nbsp;&nbsp; <i
                            class="mdi-communication-call-made"></i>&nbsp;&nbsp; Pick Up Shift</p>
                {% else %}
                    <p><i class="mdi-notification-sync"></i>&nbsp;&nbsp; To Swap Pool &nbsp;&nbsp; <i
                            class="mdi-communication-call-made"></i>&nbsp;&nbsp; To Transfer Pool</p>
                {% endif %}
            </div>
        </div>
    {% endif %}
    <div class="col-lg-12">
        <div id="calendar"></div>
    </div>
    <div class="modal fade" id="add-event-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add Shift</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="event-form" action="" onsubmit="return false;">
                        <fieldset>
                            <input type="hidden" value="" name="id" id="hidden_id">

                            <div class="form-group">
                                <label for="employee" class="col-lg-2 control-label">Employee</label>

                                <div class="col-lg-10">
                                    <select class="form-control" id="employee" name="employee" required>
                                        {% for e, f, l in employees %}
                                            <option value="{{ e }}">{{ f }} {{ l }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputShift" class="col-lg-2 control-label">Shift Title</label>

                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="inputShift" placeholder="Shift Title"
                                           name="shift_title" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputStartTime" class="col-lg-2 control-label">Start Time</label>

                                <div class="col-lg-10">
                                    <input id="inputStartTime" type="text" name="start_time" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputEndTime" class="col-lg-2 control-label">End Time</label>

                                <div class="col-lg-10">
                                    <input id="inputEndTime" type="text" name="end_time" required>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary" id="event-add">Add</button>
                            </div>
                        </fieldset>
                    </form>
                </div>

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div class="modal fade" id="swap-event-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Swap Shift</h4>
                </div>
                <div class="modal-body">
                    <p class="text-center" id="shift_switch_with"></p>

                    <form class="form-horizontal" id="event-form" action="" onsubmit="return false;">
                        <fieldset>
                            <input type="hidden" value="" name="id" id="hidden_id">

                            <div class="form-group">
                                <label for="swap-shift" class="col-lg-2 control-label">Your Shift To Swap:</label>

                                <div class="col-lg-10">
                                    <select class="form-control" id="swap-shift" name="swap" required>
                                        {% for e in my_shifts %}
                                            <option value="{{ e.id }}">{{ e.event_text }}: {{ e.start_date|date:'Y-m-d H:i' }}
                                                - {{ e.end_date|date:'Y-m-d H:i' }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary" id="event-swap">Swap Shift</button>
                            </div>
                        </fieldset>
                    </form>
                </div>

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div class="modal fade" id="transfer-event-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Transfer Shift</h4>
                </div>
                <div class="modal-body">
                    <p class="text-center" id="shift_transfer_with"></p>

                    <form class="form-horizontal" id="transfer-event-form" action="" onsubmit="return false;">
                        <fieldset>
                            <input type="hidden" value="" name="id" id="transfer_hidden_id">

                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary" id="event-transfer">Pickup Shift</button>
                            </div>
                        </fieldset>
                    </form>
                </div>

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div class="modal fade" id="swap-confirm">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Swap Sent</h4>
                </div>
                <div class="modal-body">
                    <p>Your Swap suggestion was successfully sent!</p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="transfer-confirm">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Pickup Request Sent</h4>
                </div>
                <div class="modal-body">
                    <p>Your Shift Pickup Request was successfully sent!</p>

                    <p>Once your administrator approves the shift will be added to your schedule.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_js %}
    <script src="{{ STATIC_URL }}js/jquery.datetimepicker.js"></script>
    <script>
    var selected_date;
    var calendar;
    var to_swap, to_transfer;
    var clicked_swap, clicked_transfer;
    var calendar_event;
    $(document).ready(function () {
        $('#event-form').validate();
        // page is now ready, initialize the calendar...
        calendar = $('#calendar');
        calendar.fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,basicWeek,basicDay'
            },
            defaultView: 'month',
            eventLimit: true,
            eventRender: function (event, element) {
                if (event.end) {
                    $(element).find('.fc-time').text(event.start.format('h:mm a') + '-' + event.end.format('h:mm a'));
                    {% if not user.userprofile.is_admin %}
                        if (!event.to_swap) {
                            if (event.user_id == {{ user.id }}) {
                                $(element).find('.fc-title').after('<span class="fc-options"><i data-user-id="' + event.user_id + '" data-id="' + event.id + '" class="mdi-notification-sync give"></i></span>');
                            }
                        } else {
                            if (event.user_id == {{ user.id }}) {
                                $(element).find('.fc-title').after('<span class="fc-options"><i data-user-id="' + event.user_id + '" data-id="' + event.id + '" class="mdi-notification-sync give swapped"></i></span>');
                            } else {
                                $(element).find('.fc-title').after('<span class="fc-options"><i data-user-id="' + event.user_id + '" data-text="' + event.title + ': ' + event.start.format('h:mm a') + ' - ' + event.end.format('h:mm a') + '" data-id="' + event.id + '" class="mdi-notification-sync recieve"></i></span>');
                            }
                        }

                        if (!event.to_transfer) {
                            if (event.user_id == {{ user.id }}) {
                                $(element).find('.fc-title').after('<span class="fc-options"><i data-user-id="' + event.user_id + '" data-id="' + event.id + '" class="mdi-communication-call-made give"></i></span>');
                            }
                        } else {
                            if (event.user_id == {{ user.id }}) {
                                $(element).find('.fc-title').after('<span class="fc-options"><i data-user-id="' + event.user_id + '" data-id="' + event.id + '" class="mdi-communication-call-made swapped give"></i></span>');
                            } else {
                                $(element).find('.fc-title').after('<span class="fc-options"><i data-user-id="' + event.user_id + '" data-text="' + event.title + ': ' + event.start.format('h:mm a') + ' - ' + event.end.format('h:mm a') + '" data-id="' + event.id + '" class="mdi-communication-call-made recieve"></i></span>');
                            }
                        }
                        $(element).find('.fc-title').after('<br>');
                    {% endif %}
                }
            },
            {% if user.userprofile.is_admin %}
                eventClick: function (calEvent, jsEvent, view) {
                    $('#add-event-modal').modal('show');
                    $('#employee').val(calEvent.user_id);
                    $('#inputShift').val(calEvent.title.split(' - ')[0]);
                    $('#inputStartTime').val(calEvent.start.format('YYYY-MM-DD HH:mm'));
                    $('#inputEndTime').val(calEvent.end.format('YYYY-MM-DD HH:mm'));
                    $('#hidden_id').val(calEvent.id);
                    $('#event-add').text('Update Event');
                    calendar_event = calEvent;
                },
            {% endif %}
            {% if events == None %}
                events: { url: '{% url 'dashboard:get_shifts' %}',
                    type: 'GET',
                    data: {
                        {% if user.userprofile.is_admin or organization %}
                            type: 'admin',
                        {% else %}
                            type: 'user',
                        {% endif %}
                    },
                    error: function () {
                        alert('there was an error while fetching events!');
                    }
                },
            {% else %}
                events: [
                    {% for e in events %}
                        {
                            id: {{ e.id }},
                            title: "{{ e.event_text }} for {{ e.belongs_to.get_full_name }}",
                            start: "{{ e.start_date|date:'Y-m-d H:i' }}",
                            end: "{{ e.end_date|date:'Y-m-d H:i' }}",
                            user_id: {{ e.belongs_to.id }},
                            to_swap: {{ e.requested_swap|yesno:"true,false" }},
                            to_transfer: {{ e.transfer_check|yesno:"true,false" }},
                        },
                    {% endfor %}
                ]
            {% endif %}
        });
        $('#export-from').click(function () {
            $('#file').trigger('click');
        });
        $('#file').change(function () {
            $(this).closest('form').submit();
        });
        {% if user.userprofile.is_admin %}
            setTimeout(function () {
                $('.fc-day').append('<p class="add-event">+</p>');
            }, 1000);
            $('body').on('click', '.add-event', function () {
                $('#add-event-modal').modal('show');
                $('#inputShift').val('');
                $('#hidden_id').val('');
                $('#inputStartTime').val($(this).closest('.fc-day').data('date'));
                $('#inputEndTime').val($(this).closest('.fc-day').data('date'));
                $('#event-add').text('Add Event');
            });
            $('#event-add').click(function () {
                var $form = $('#event-form');
                if ($form.validate().element('#employee') &&
                        $form.validate().element('#inputShift') &&
                        $form.validate().element('#inputStartTime') &&
                        $form.validate().element('#inputEndTime')) {
                    $.post('{% url 'dashboard:event' %}', {
                        user: $('#employee').val(),
                        id: $('#hidden_id').val(),
                        text: $('#inputShift').val(),
                        start_date: $('#inputStartTime').val().replace(/\//g, '-'),
                        end_date: $('#inputEndTime').val().replace(/\//g, '-'),
                    }, function (data) {
                        if ($('#hidden_id').val() == '') {
                            addEvent(data['id'], data['title'], data['start'], data['end']);
                            $('#add-event-modal').modal('hide');
                        } else {
                            calendar_event.title = $('#inputShift').val();
                            calendar_event.start_date = data['start'];
                            calendar_event.end_date = data['end'];
                            $('#calendar').fullCalendar('updateEvent', calendar_event);
                        }
                    });
                }
            });
            $('#inputStartTime').datetimepicker({
            });
            $('#inputEndTime').datetimepicker({
            });
        {% endif %}
        {% if not user.userprofile.is_admin %}
            $('body').on('click', '.mdi-notification-sync.give', function (event) {
                event.stopPropagation();
                clicked_swap = $(this);
                if ($(this).data('user-id') == {{ user.id }}) {
                    $.post('{% url 'dashboard:to_swap' %}', {'id': $(this).data('id')}, function () {
                        clicked_swap.toggleClass('swapped');
                    });
                } else {

                }
            });

            $('body').on('click', '.mdi-communication-call-made.give', function (event) {
                event.stopPropagation();
                clicked_transfer = $(this);
                if ($(this).data('user-id') == {{ user.id }}) {
                    $.post('{% url 'dashboard:to_transfer' %}', {'id': $(this).data('id')}, function () {
                        clicked_transfer.toggleClass('swapped');
                    });
                } else {

                }
            });

            $('body').on('click', '.mdi-notification-sync.recieve', function () {
                $('#shift_switch_with').text($(this).data('text'));
                $('#hidden_id').val($(this).data('id'));
                $('#swap-event-modal').modal('show');
                to_swap = $(this);
            });

            $('body').on('click', '.mdi-communication-call-made.recieve', function () {
                $('#shift_transfer_with').text($(this).data('text'));
                $('#transfer_hidden_id').val($(this).data('id'));
                $('#transfer-event-modal').modal('show');
                to_transfer = $(this);
            });
        {% endif %}
    });

    $('#event-swap').click(function () {
        $.post('{% url 'dashboard:pick_swap' %}', {'id': $('#hidden_id').val(), 'to_id': $('#swap-shift').val()}, function () {
            to_swap.hide();
            $('#swap-event-modal').modal('hide');
            $('#swap-confirm').modal('show');
        });
    });

    $('#event-transfer').click(function () {
        $.post('{% url 'dashboard:pick_transfer' %}', {'id': $('#transfer_hidden_id').val()}, function () {
            to_transfer.hide();
            $('#transfer-event-modal').modal('hide');
            $('#transfer-confirm').modal('show');
        });
    });
    function addEvent(id, title, start, end) {
        calendar.fullCalendar('addEventSource', {
            events: [
                {
                    id: id,
                    title: title,
                    start: start,
                    end: end,
                }
            ]
        });
    }
    </script>
    {% if TRUE %}
        <script src="{{ STATIC_URL }}js/intro.min.js"></script>
        <script>
            function startIntro() {
                var intro = introJs();
                {% if user.userprofile.is_admin %}
                    intro.setOptions({
                        steps: [
                            {

                                intro: "Hello! Welcome to MiShift a Canadian Nurse Scheduling Platform"
                            },
                            {
                                element: document.querySelector('#calendar'),
                                intro: "The calender shows you the organizations shifts. As an admin you view details for each one and edit each one by clicking it.",
                                position: 'top'
                            },
                            {
                                element: document.querySelectorAll('#calendar > div.fc-view-container > div > table > tbody > tr > td > div > div > div:nth-child(1) > div.fc-bg > table > tbody > tr > td.fc-day.fc-widget-content.fc-sun.fc-today.fc-state-highlight > p')[0],
                                intro: "As admin, you can add more shifts to any of the days. We can even build in custom rules to make sure you always have enough and the right staff on shift.",
                                position: 'right'
                            },
                            {
                                element: 'body > div.navbar.navbar-inverse.navbar-fixed-top > div > div.collapse.navbar-collapse > ul > li:nth-child(2) > a',
                                intro: "In the swap pool you can see all the shifts that have been agreed to be swapped by the organization's staff",
                                position: 'bottom'
                            },
                            {
                                element: 'body > div.navbar.navbar-inverse.navbar-fixed-top > div > div.collapse.navbar-collapse > ul > li:nth-child(3) > a',
                                intro: "Here you can see your previously approved swaps.",
                                position: 'bottom'
                            },
                            {
                                element: '#export-from',
                                intro: 'Lastly, you can import your excel based shifts with a click of a button.'
                            },
                            {
                                intro: 'Once again welcome to MiShift and have a productive shift management experience!'
                            }
                        ]
                    });
                {% else %}
                    intro.setOptions({
                        steps: [
                            {
                                intro: "Hello! Welcome to MiShift a Canadian Nurse Scheduling Platform"
                            },
                            {
                                element: document.querySelector('#calendar'),
                                intro: "The calender shows your shifts. You can click on the To Swap Icon to put up your shift for swap. And the diagonal arrow icon to put a shift up for transfer. Once you have done so you will receive notifications and emails to let you know the status of the swap.",
                                position: 'top'
                            },
                            {
                                element: 'body > div.navbar.navbar-inverse.navbar-fixed-top > div > div.collapse.navbar-collapse > ul > li:nth-child(1) > a',
                                intro: "You can view the shifts of the full organization by clicking on organization shifts.",
                                position: 'bottom'
                            },
                            {
                                element: 'body > div.navbar.navbar-inverse.navbar-fixed-top > div > div.collapse.navbar-collapse > ul > li:nth-child(3) > a',
                                intro: "In MiSwaps you can see all the status shifts you have put for swap or transfer and approve swap requests or pickup requests from other employees",
                                position: 'bottom'
                            },
                            {
                                element: 'body > div.navbar.navbar-inverse.navbar-fixed-top > div > div.collapse.navbar-collapse > ul > li:nth-child(4) > a',
                                intro: "In posted shifts you can see the shifts other members of the organization have put up and suggest swaps or pickups for those shifts",
                                position: 'bottom'
                            },
                            {
                                intro: 'Once again welcome to MiShift and have a productive shift management experience!'
                            }
                        ]
                    });
                {% endif %}

                intro.start();
                $.get('{% url 'dashboard:first_time' %}');

            }

            $(function () {
                startIntro();
            });
        </script>
    {% endif %}
{% endblock %}