{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-12">
            {% for m in messages %}
                <div class="alert alert-dismissable alert-success">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>{{ m }}</strong>.
                </div>
            {% endfor %}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Sign Up</h3>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" action="{% url 'dashboard:signup' %}" method="post">
                        {% csrf_token %}
                        <fieldset>
                            <div class="form-group">
                                <label for="inputFirstName" class="col-lg-2 control-label">First Name</label>

                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="inputFirstName" placeholder="First Name"
                                           name="first_name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputLastName" class="col-lg-2 control-label">Last Name</label>

                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="inputLastName" placeholder="Last Name"
                                           name="last_name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail" class="col-lg-2 control-label">Email</label>

                                <div class="col-lg-10">
                                    <input type="email" class="form-control" id="inputEmail" placeholder="Email"
                                           name="username">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword" class="col-lg-2 control-label">Password</label>

                                <div class="col-lg-10">
                                    <input type="password" class="form-control" id="inputPassword"
                                           placeholder="Password" name="password">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="organization" class="col-lg-2 control-label">Organization</label>

                                <div class="col-lg-10">
                                    <select class="form-control" id="organization" name="organization">
                                        <option>UHN</option>
                                        <option>LHS</option>
                                        <option>Revera</option>
                                        <option>Grand River Hospital</option>
                                        <option>Sick Kids Hospital</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="qualification" class="col-lg-2 control-label">Qualification</label>

                                <div class="col-lg-10">
                                    <select class="form-control" id="qualification" name="qualification">
                                        <option>RN</option>
                                        <option>RNP</option>
                                        <option>NP</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-10 col-lg-offset-2">
                                    <button class="btn btn-default">Cancel</button>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="panel-footer">
                    <div class="text-right">
                        <a href="{% url 'dashboard:login' %}">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}