{% extends 'base.html' %}
{% block extra_css %}
    <link href="{{ STATIC_URL }}css/jquery.datetimepicker.css" rel="stylesheet">
{% endblock %}
{% block page_title %}Swap Pool{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <h2>Agreed Swaps</h2>

            <div class="list-group">
                {% for s in agreed_swaps %}
                    <div class="list-group-item">
                        <div class="row-action-primary">
                            <i>SWAP</i>
                        </div>
                        <div class="row-content">
                            <div class="action-secondary"><i class="mdi-material-info"></i></div>
                            <h4 class="list-group-item-heading">{{ s.event_text }}
                                - {{ s.belongs_to.get_full_name }}</h4>

                            <p class="list-group-item-text">{{ s.start_date|date:'Y-m-d H:i' }}
                                - {{ s.end_date|date:'Y-m-d H:i' }}</p>
                            <h4>with</h4>
                            <h4 class="list-group-item-heading">{{ s.agreed_swap.event_text }}
                                - {{ s.agreed_swap.belongs_to.get_full_name }}</h4>

                            <p class="list-group-item-text">{{ s.agreed_swap.start_date|date:'Y-m-d H:i' }}
                                - {{ s.agreed_swap.end_date|date:'Y-m-d H:i' }}</p>
                            <button class="btn btn-success approve-swap" data-id="{{ s.id }}">Approve Swap
                            </button>
                            <button class="btn btn-danger cancel-swap" data-id="{{ s.id }}">Reject Swap
                            </button>
                        </div>
                    </div>
                    {% if not forloop.last %}
                        <div class="list-group-separator"></div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-6">
            <h2>Agreed Transfers</h2>

            <div class="list-group">
                {% for s in agreed_transfers %}
                    <div class="list-group-item">
                        <div class="row-action-primary">
                            <i>T</i>
                        </div>
                        <div class="row-content">
                            <div class="action-secondary"><i class="mdi-material-info"></i></div>
                            <h3>Transfer of:</h3>
                            <h4 class="list-group-item-heading">{{ s.event_text }}</h4>
                            {% for a in s.to_transfer_events.all %}
                                <p class="list-group-item-text">{{ s.start_date|date:'Y-m-d H:i' }}
                                    - {{ s.end_date|date:'Y-m-d H:i' }}</p>
                                <h4>from {{ s.belongs_to.get_full_name }} to {{ a.get_full_name }}</h4>
                                <button class="btn btn-success approve-transfer" data-id="{{ s.id }}"
                                        data-userid="{{ a.id }}">Approve Transfer
                                </button>
                                <button class="btn btn-danger cancel-transfer" data-id="{{ s.id }}"
                                        data-user-id="{{ a.id }}">Reject Transfer
                                </button>
                            {% endfor %}

                        </div>
                    </div>
                    {% if not forloop.last %}
                        <div class="list-group-separator"></div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_js %}
    <script>
        var to_swap;
        $(function () {
            $('.approve-swap').click(function () {
                $.post('{% url 'dashboard:approve_swap' %}', {'id': $(this).data('id')}, function () {
                    location.reload();
                });
            });
            $('.approve-transfer').click(function () {
                $.post('{% url 'dashboard:approve_transfer' %}', {'id': $(this).data('id'), 'user_id': $(this).data('userid')}, function () {
                    location.reload();
                });
            });

            $('.cancel-swap').click(function () {
                $.post('{% url 'dashboard:cancel_swap' %}', {'id': $(this).data('id')}, function () {
                    location.reload();
                });
            });
            $('.cancel-transfer').click(function () {
                $.post('{% url 'dashboard:cancel_transfer' %}', {'id': $(this).data('id')}, function () {
                    location.reload();
                });
            });
        });
    </script>
{% endblock %}