{% extends 'base.html' %}
{% block extra_css %}
    <link href="{{ STATIC_URL }}css/jquery.datetimepicker.css" rel="stylesheet">
{% endblock %}
{% block page_title %}Swap Pool{% endblock %}
{% block content %}
    <div class="col-lg-6">
        <h2>Your Proposed Trades</h2>
        <ul class="nav nav-pills nav-stacked list-group">
            {% for s in my_swaps %}
                <li class="{% if forloop.first %}active{% endif %}">
                    <a href="#swap-{{ s.id }}" data-toggle="tab">
                        <div class="list-group-item">
                            <div class="row-action-primary">
                                <i>{{ s.event_text }}</i>
                            </div>
                            <div class="row-content">
                                <div class="action-secondary"><i class="mdi-material-info"></i></div>
                                <h4 class="list-group-item-heading">{{ s.belongs_to.get_full_name }}</h4>

                                <p class="list-group-item-text">{{ s.start_date|date:'Y-m-d H:i' }}
                                    - {{ s.end_date|date:'Y-m-d H:i' }}</p>
                            </div>
                        </div>
                    </a>
                </li>
            {% endfor %}
            {% for s in my_transfers %}
                <li class="{% if forloop.first and not my_swaps %}active{% endif %}">
                    <a href="#swap-{{ s.id }}" data-toggle="tab">
                        <div class="list-group-item">
                            <div class="row-action-primary">
                                <i>{{ s.event_text }}</i>
                            </div>
                            <div class="row-content">
                                <div class="action-secondary"><i class="mdi-material-info"></i></div>
                                <h4 class="list-group-item-heading">{{ s.belongs_to.get_full_name }}</h4>

                                <p class="list-group-item-text">{{ s.start_date|date:'Y-m-d H:i' }}
                                    - {{ s.end_date|date:'Y-m-d H:i' }}</p>
                            </div>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-lg-6" data-spy="affix" data-offset-top="125">
    <h2>Trades Proposed For Shift</h2>
    <div id="myTabContent" class="tab-content">
        {% for s in my_swaps %}
            <div class="tab-pane fade {% if forloop.first %}active in{% endif %}" id="swap-{{ s.id }}">
                {% if s.to_swap_events.count != 0 %}
                    {% if s.agreed_swap %}
                        <p>Agreed to:</p>
                        <h5>{{ s.agreed_swap.belongs_to.get_full_name }}</h5>
                        <small>{{ s.agreed_swap.start_date|date:'Y-m-d H:i' }}
                            - {{ s.agreed_swap.end_date|date:'Y-m-d H:i' }}</small>
                        <br>
                        {% if s.agreed_swap.agreed_swap == s %}
                            <p>Waiting for approval</p>
                        {% else %}
                            <p>Waiting for {{ s.agreed_swap.belongs_to.get_full_name }} to agree.</p>
                        {% endif %}
                        <button class="btn btn-danger cancel-swap" data-id="{{ s.id }}">Cancel Swap</button>
                    {% else %}
                        <p>Offered Swaps:</p>
                        {% for e in s.to_swap_events.all %}
                            <h5>{{ e.belongs_to.get_full_name }}</h5>
                            <small>{{ e.start_date|date:'Y-m-d H:i' }}
                                - {{ e.end_date|date:'Y-m-d H:i' }}</small>
                            <br>
                            <button class="btn btn-success agree-swap" data-id="{{ s.id }}"
                                    data-to-id="{{ e.id }}">Agree to swap
                            </button>
                            <button class="btn btn-success reject-swap" data-id="{{ s.id }}"
                                    data-to-id="{{ e.id }}">Reject swap
                            </button>
                        {% endfor %}
                    {% endif %}
                {% else %}
                    <p class="list-group-item-text">No Offered Swaps Yet</p>
                {% endif %}
            </div>
        {% endfor %}
        {% for s in my_transfers %}
            <div class="tab-pane fade {% if forloop.first and not my_swaps %}active in{% endif %}" id="swap-{{ s.id }}">
                {% for a in s.to_transfer_events.all %}
                    <p class="list-group-item-text">To be Picked By: {{ a.get_full_name }}</p>
                    <p class="list-group-item-text">Waiting for approval</p>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block extra_js %}
    <script>
        var to_swap;
        $(function () {
            $('.agree-swap').click(function () {
                $.post('{% url 'dashboard:agree_swap' %}', {'id': $(this).data('id'), 'to_id': $(this).data('to-id')}, function () {
                    location.reload();
                });
            });

            $('.reject-swap').click(function () {
                $.post('{% url 'dashboard:reject_swap' %}', {'id': $(this).data('id'), 'to_id': $(this).data('to-id')}, function () {
                    location.reload();
                });
            });

            $('.cancel-swap').click(function () {
                $.post('{% url 'dashboard:cancel_swap' %}', {'id': $(this).data('id')}, function () {
                    location.reload();
                });
            });
        });
    </script>
{% endblock %}