/*! project specific CSS goes here. */
body {
    padding-top: 60px;
}

.navbar-2 {
    margin-top: 50px;
}

.navbar-2 .navbar-nav {
    display: inline-block;
    float: none;
}

.add-event {
    bottom: 0;
    cursor: pointer;
    position: absolute;
    text-align: center;
    font-size: 15px;
    margin-left: 7%;
    z-index: 1000;
}

.fc-content {
    padding: 10px 5px;
}

.fc-options {
    margin-right: 10px;
    float: right;
    font-size: 200%;
}

.fc-day-grid-event {
    cursor: pointer;
}

.mdi-notification-sync {
    cursor: pointer;
}

.mdi-notification-sync.swapped {
    cursor: pointer;
    color: green;
}

.mdi-communication-call-made {
    cursor: pointer;
}

.mdi-communication-call-made.swapped {
    cursor: pointer;
    color: green;
}

.mdi-communication-call-received {
    cursor: pointer;
}

.mdi-communication-call-received.swapped {
    cursor: pointer;
    color: green;
}

.fc-more-popover {
    max-height: 400px;
    z-index: 10000;
    overflow-y: auto;
}