{% extends 'base.html' %}
{% block html_extra %}style="height: 100%;"{% endblock %}
{% block body_extra %}style="height: 100%; padding-top: 0"{% endblock %}
{% block outside_container %}
    <div style="height: 100%;width: 100%; background: url({{ STATIC_URL }}images/Medicine.png) no-repeat top fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;">
        <div style="height: 100%;width: 100%; background: rgba(0, 0, 0, 0.3); position:absolute;z-index: 5;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;">
        </div>
        <div class="text-center" style="position: relative; z-index: 10;
              top: 50%;
              -webkit-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
              transform: translateY(-50%);">
            <div class="container" style="max-width: 800px">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="jumbotron">
                            <h2> A Canadian developed solution to nurse scheduling issues found uniquely amongst are
                                health care
                                system. Designed to:
                            </h2>
                            <ol style="text-align: left">
                                <li>Increased Productivity: Save tremendous time for nurse managers / administration and
                                    nurses
                                    themselves through quick, seamless and real time scheduling changes.
                                </li>

                                <li>Increased Transparency: Allows everyone to equitably view the schedule and any
                                    changes with
                                    electronic documentation to ensure no misconceptions.
                                </li>

                                <li>Increased Team Cohesiveness/Fulfillment: Working to see which gaps to fill and
                                    helping each
                                    other
                                    out to successfully fill the schedule. Increases a sense of 'ownership' over one's
                                    schedule.
                                </li>

                                <li>Increased Organizational Efficiency: Metrics gleaned from software used to predict
                                    peak times
                                    for
                                    scheduling based on absences and other contingencies.
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}