{% load staticfiles %}
<!DOCTYPE html>
<html lang="en"  {% block html_extra %}{% endblock %}>
<head>
    <meta charset="utf-8">
    <title>{% block title %}MiShift{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
    <link href="{% static 'css/material-wfont.min.css' %}" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.2.3/fullcalendar.min.css" rel="stylesheet">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- This file store project specific CSS -->
    <link href="{% static 'css/socialmedia_project.css' %}" rel="stylesheet">
    <!-- Use this to quickly test CSS changes in a template,
        then move to socialmedia_project.css -->
    {% block extra_css %}{% endblock extra_css %}
</head>

<body {% block body_extra %}{% endblock %}>

<div class="navbar navbar-inverse navbar-fixed-top" style="margin-bottom: 0">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" style="font-size: 2em; line-height: 1.5em">MiShift</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                {% if not user.is_authenticated %}
                    <li><a style="line-height: 2.5em" href="#">Home</a></li>
                {% else %}
                    {% if user.userprofile.is_admin %}
                        <li><a href="{% url 'dashboard:main' %}" style="line-height: 2.5em">Organization Shifts</a></li>
                    {% else %}
                        <li><a href="{% url 'dashboard:main' %}" style="line-height: 2.5em">Your Shifts</a></li>
                    {% endif %}
                {% endif %}
                {% if not user.is_authenticated %}
                    <li><a href="#" style="line-height: 2.5em">About</a></li>
                {% else %}
                    {% if user.userprofile.is_admin %}
                        <li><a href="{% url 'dashboard:swap_page' %}" style="line-height: 2.5em">Swap Pool</a>
                        </li>
                    {% else %}
                        <li><a href="{% url 'dashboard:swap_page' %}" style="line-height: 2.5em">Your Proposed Swaps</a>
                        </li>
                        <li><a href="{% url 'dashboard:posted_shifts' %}" style="line-height: 2.5em">Posted Shifts</a></li>
                    {% endif %}
                {% endif %}
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}" style="line-height: 2.5em">Logout</a></li>
                {% else %}
                    <li>
                        <a href="{% url 'dashboard:signup' %}">
                            <button style="margin: 0" class="btn btn-primary">SIGN UP</button>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'dashboard:login' %}">
                            <button style="margin: 0" class="btn btn-primary">LOGIN</button>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
{% block outside_container %}

    <div class="container">

        <h1>{% block page_title %}{% endblock page_title %}</h1>

        {% block content %}
            <div class="text-center">
                <a href="{% url 'dashboard:signup' %}">
                    <button class="btn btn-primary">GET STARTED</button>
                </a>
            </div>
        {% endblock content %}

    </div>

{% endblock %}
<!-- /container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.2.3/fullcalendar.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.validate.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/material.min.js' %}"></script>
<script src="{% static 'js/ripples.min.js' %}"></script>

<!-- place project specific Javascript in this file -->
<script src="{% static 'js/socialmedia_project.js' %}"></script>

{% block extra_js %}{% endblock extra_js %}
</body>
</html>
